body {
	font-size: 20px;
	color: black;
	background-color: black;
	font-family: 'Archivo Black', sans-serif;
	background: black;
}

#gradient {
	background-image: linear-gradient(to bottom, #ffffff, #000000);
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
	height: 50px;
}
#menu {
	margin-left: 18px;
	padding: 8px;
}